# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Project specific
build/
dist/
*.exe
*.spec

# Local configuration
config.json
__pycache__/ui_element.cpython-311.pyc
__pycache__/ui.cpython-311.pyc
backup/llm_chat_v0.1.py
backup/llm_chat_v0.2.py
backup/llm_chat_v0.3.py
backup/llm_chat_v0.4.py
backup/llm_chat_v0.5.py
backup/llm_chat_v1.0.py
backup/llm_chat.py
build/chat/Analysis-00.toc
build/chat/base_library.zip
build/chat/chat.pkg
build/chat/EXE-00.toc
build/chat/PKG-00.toc
build/chat/PYZ-00.pyz
build/chat/PYZ-00.toc
build/chat/warn-chat.txt
build/chat/xref-chat.html
build/chat/localpycs/pyimod01_archive.pyc
build/chat/localpycs/pyimod02_importers.pyc
build/chat/localpycs/pyimod03_ctypes.pyc
build/chat/localpycs/pyimod04_pywin32.pyc
build/chat/localpycs/struct.pyc
dist/chat.exe
dist/icon.png
release/quick_chat_launchy_v0.1.py
release/v0.1/chat.py
release/v0.1/ui_element.py
release/v0.1/bin/chat.exe
release/v0.1/bin/icon.png
release/v0.2/chat.py
release/v0.2/ui_element.py
release/v0.2/bin/chat.exe
release/v0.2/bin/icon.png
__pycache__/chat_client.cpython-311.pyc
__pycache__/chat_frame.cpython-311.pyc
__pycache__/config_manager.cpython-311.pyc
__pycache__/hotkey_manager.cpython-311.pyc
__pycache__/message_panel.cpython-311.pyc
